body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    background-color: lightblue;
}

.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;

    background-color: black;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}
